$breakpoints: (
  sm: 480px,
  md: 768px,
  xl: 1200px,
);

$base-font-family: 'Lato-Regular';

$color-primary: #3e9cdc;
$color-white: #ffffff;
$color-black: #000000;
$color-dark: #272733;
$color-error: #d94c4c;

$body-color: $color-white;
$body-background-color: $color-dark;
